#map_id_wrapper{
    height: 500px !important;
}

#fll_dealer_list{
    height: 500px;
    overflow-y: scroll;
}

#fll_dealer_list .dealer-list-item{
    width: 100%;
    background: aliceblue;
    padding: 18px 18px 30px;
    border-top: 2px solid black;
    position: relative;
}

#fll_dealer_list p, #dealer_info_selected p{
    padding: 0 !important;
    margin: 0 !important;
}

#fll_dealer_list .dealer-list-item:hover{
    background: #999999;
    color: black;
}

#fll_dealer_list .dealer-list-item button{
    float: right;
}

#fll_dealer_list .dealer-list-item button:hover{
    cursor: pointer;
}

#zipcode-fields{
    float: right;
}

#enter_zipcode{
    width: 180px;
 }

#fll_dealer_list .right-info{
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top:16px;
    right: 10px;
}

img.certified_img{
    display: inline-block !important;
    margin-right: 5px;
}

.label_dealer_radio{
    margin-right: 30px;
}

.right-info label{
    margin-left: 10px !important;
}
.certified_badge{
    display: flex;
}

.dealer_info_order {
    width: 100% !important;
}

/** Progress with steps */

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }

ol.progtrckr li {
    color: black;
    border-bottom: 16px solid lightgrey;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 16px solid #174171;
}
ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

/* CHECKOUT FIELDS*/
#regForm{
    font-family: "Roboto Condensed", Sans-serif !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
#regForm input[type='text'], #regForm input[type='email']{
    background: #d0cccc !important;
    border: none !important;
    height: 50px !important;
}

#regForm label{
    font-weight: bold !important;
}

#billing_company_field, .woocommerce-billing-fields h3,#billing_country_field{
    display: none !important;
}

#heading_step_checkout{
    color:black;
}

span.select2-selection{
    height: 50px !important;
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    border-radius: 0 !important;
    background: #d0cccc !important;
}

#heading_step_checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
    top:13px !important;
}

.icon_triangle{
    width: 15px !important;
    margin-left: 14px !important;
}

button.continue{
    margin-left: 20px !important;
}

button.continue,button.go_back{
    font-size: 1.5rem !important;
}

#go_back{
    background: transparent !important;
    color: #004072; !important;
    width: 200px;
}

.continue-label{
     font-family: "Roboto Condensed", Sans-serif;
     font-size: 15px;
     font-weight: bold !important;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #004072 !important;
     background-color: white !important;
     border-style: solid;
     border-width: 1px;
     border-radius: 0px;
     padding: 12px 20px;
     width: 150px !important;
     text-align:center !important;
}

.continue-label:hover, .dealer-list-item input[type="radio"]:checked+label{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white !important;
    background-color: #004072 !important;
    border-style: solid;
    border-width: 1px;
    border-color: #004072;
    border-radius: 0px;
    padding: 12px 20px;
    width: 150px !important;
    font-weight:bold;

}

.right-info input[type="radio"]{
    display: none !important;
}

.woocommerce-shipping-fields .woocommerce-input-wrapper{
    width:100% !important;
}

#order_comments_field,#place_order{
    display: none !important;
}

.billing_info_fields p{
    margin-bottom: 0 !important;
    font-weight: bold !important;
    font-size: 15px;
}

.billing_info_fields h4{
    font-size: 15px !important;
    font-weight: bold !important;
}

#dealer_info_selected{
    font-size: 14px !important;
    font-weight: bold !important;
}

#dealer_info_selected p{
    padding: 0 !important;
    margin: 0 !important;
}

#dealer_info_selected h4{
    font-weight: bold !important;
    padding: 0 !important;
    margin: 0 !important;
}

#fll_dealer_list{
    font-size: 15px;
    font-weight: bold;
}

#ffl_dealer_list .dealer-list-item p{
    margin: 0 !important;
    padding: 0 !important;
}

.certified_badge{
    padding-bottom: 20px !important;
    position: relative !important;
    top: -15px !important;
    float: right !important;
}

img.certified_img{
    width:28px !important;
    height:28px !important;
}

label.terms{
    margin:0 !important;
    padding:0 !important;
}

#order_review{
    width: 80%;
    float: right;
}
